*{
    box-sizing: border-box;
    /*全部置中對其*/
    max-width: 1250px;
    margin: 0px auto;
}

body{
    background-color: #fdecef;
    margin: 0px;
}

header{
    background-color: #9d6381;
    color: white;
    text-align: center;
}
main{
    background-color: #fdecef;
    padding:20px;
}

aside{
    color: #582f0e;
    float: left;
    width: 30%;
}

article{
    float: right;
    width: 68%;
}

.activity{
    text-align: center;
    column-gap: 20px;
    columns: 2;
}

.intro{
    margin: 10px;
    padding: 20px;
    text-align: center;
    column-gap: 20px;
    columns: 2;
    column-width: 280px;
    column-height: 210px;
}

.intro1{
    margin: 10px;
    padding: 20px;
    text-align: center;
    column-gap: 20px;
    columns: 3;
    column-width: 280px;
    column-height: 200px;
    color: #582f0e;
}

.pic{
    height: 180px;
    width:270px;
    border-radius: 5%;
}

.pic1{
    height: 160px;
    width:250px;
    border-radius: 5%;
}

.pic2{
    height: 100px;
    width:130px;
    border-radius: 5%;
}

.pic3{
    height: 90px;
    width:130px;
    border-radius: 5%;
}
.school{
    height: 200px;
    width: 280px;
    border-radius: 5%;
}

.student_club_intro{
    padding: 10px;
}

.topic{
    color: #582f0e;
    width: 310px;
    height: 300px;
}

.tit{
    border-bottom: solid 2px rgba(255, 133, 180, 0.646); 
    text-align: center;
    padding-bottom: 5px;
}

.photo{
    border-radius: 50%;
    width: 170px;
    height: 200px;
}

.about_me{
    color: #582f0e;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.me1{
    width: 230px;
    text-indent: 20px;
    text-align: left;
}

.slogan{
    width: 210px;
    color: indianred;
    border: #ffffff solid 5px;
}

nav{
    font-family: Arial;
    text-align: center;
    clear: both;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color: #cda8b8;
    color: white;
}

footer{
    background-color: #cda8b8;
    text-align: center;
    color: #444444;
    padding: 10px;
}

.skills{
    background-color: blanchedalmond;
    padding:25px;
    margin: 20px 0px;
    border-radius: 10px;
    text-align: center;
}

.skilla {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 30px;
  justify-content: center;
}

.skill {
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  
  /* 圓形進度 */
  background: conic-gradient(
    #e08e00 calc(var(--percent) * 1%),
    #f3f3f3 0
  );
}

/* 中間圓 */
.circle::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 205, 143);
  border-radius: 50%;
  z-index: 0;
}

.circle {
  position: relative;
  
}

.circle span {
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 18px;
}

.skill p {
  margin-top: 10px;
}

.certif{
    text-align: center;
}

main::after{
    content: "";
    clear: both;
    display: block;
}

@media screen and (max-width:800px){
    article, aside{
        float: none;
        width: 100%;
    }

    main{
        flex-direction: column;
    }

    img{
        max-width: 100%;
        height: auto;
    }
}



